
.o_form_button_custom_warning {
    background-color: transparent !important;
    text-align: center;
    cursor: pointer;
}

.o_form_button_custom_warning:hover {
    background-color: orange !important;
    color: white !important;
}
